html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #0A1128;
}
body {
    margin: 0;
}
.content {
    padding: 50px;
}
.card-grid {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078
}
.reading {
    font-size: 1.2rem;
    color: #1282A2;
}


.svg-button {
    cursor: pointer;
    user-select: none;
  }

  .on {
    fill: green;
  }

  .off {
    fill: red;
  }

    /* Style du bouton */
.my-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Changement de couleur au survol */
.my-button:hover {
    background-color: #45a049;
}

/* Effet de clic */
.my-button:active {
    background-color: #3e8e41;
    transform: translateY(2px);
}

/* Joystick */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.joystick-container {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joystick {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    touch-action: none;
}

.info {
    margin-top: 20px;
}

.info span {
    display: block;
}